---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead"
        style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
    {% else %}
    <header class="masthead">
        {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>{{ page.title }}</h1>
                        {% if page.description %}
                        <span class="subheading">{{ page.description }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                {{ content }}

                {% if page.language == "en" %}
                <!-- Home Post List -->
                {% for post in site.posts limit : 5 %}
                {% if post.language == "zh" %}
                {% continue %}
                {% endif %}
                {% if post.sticky != true %}
                {% continue %}
                {% endif %}
                <article class="post-preview">
                    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                        <h2 class="post-title">[Stickie] - {{ post.title }}</h2>
                        {% if post.subtitle %}
                        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                        {% else %}
                        <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
                        {% endif %}
                    </a>
                    <p class="post-meta">Posted by
                        {% if post.author %}
                        {{ post.author }}
                        {% else %}
                        {{ site.author }}
                        {% endif %}
                        on
                        {{ post.date | date: '%B %d, %Y' }}
                    </p>
                </article>
                <hr>


                {% endfor %}

                {% for post in site.posts limit : 5 %}
                {% if post.language == "zh" %}
                {% continue %}
                {% endif %}
                {% if post.sticky == true %}
                {% continue %}
                {% endif %}
                <article class="post-preview">
                    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                        <h2 class="post-title">{{ post.title }}</h2>
                        {% if post.subtitle %}
                        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                        {% else %}
                        <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
                        {% endif %}
                    </a>
                    <p class="post-meta">Posted by
                        {% if post.author %}
                        {{ post.author }}
                        {% else %}
                        {{ site.author }}
                        {% endif %}
                        on
                        {{ post.date | date: '%B %d, %Y' }}
                    </p>
                </article>

                <hr>

                {% endfor %}

                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
                </div>

                {% else %}
                <!-- Home Post List -->
                {% for post in site.posts limit : 5 %}
                {% if post.language == "en" %}
                {% continue %}
                {% endif %}
                {% if post.sticky != true %}
                {% continue %}
                {% endif %}
                <article class="post-preview">
                    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                        <h2 class="post-title">[置顶] - {{ post.title }}</h2>
                        {% if post.subtitle %}
                        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                        {% else %}
                        <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
                        {% endif %}
                    </a>
                    <p class="post-meta">发布于
                        {{ post.date | date: '%Y年%m月%d日' }}
                        ，作者
                        {% if post.zh-author %}
                        {{ post.zh-author }}
                        {% else %}
                        {{ site.zh-author }}
                        {% endif %}
                    </p>
                </article>
                <hr>

                {% endfor %}

                {% for post in site.posts limit : 5 %}
                {% if post.language == "en" %}
                {% continue %}
                {% endif %}
                {% if post.sticky == true %}
                {% continue %}
                {% endif %}
                <article class="post-preview">
                    <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
                        <h2 class="post-title">{{ post.title }}</h2>
                        {% if post.subtitle %}
                        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                        {% else %}
                        <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
                        {% endif %}
                    </a>
                    <p class="post-meta">发布于
                        {{ post.date | date: '%Y年%m月%d日' }}
                        ，作者
                        {% if post.zh-author %}
                        {{ post.zh-author }}
                        {% else %}
                        {{ site.zh-author }}
                        {% endif %}
                    </p>
                </article>

                <hr>

                {% endfor %}

                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">查看所有博客 &rarr;</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>